@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-lightblue: #8fbcd1;
  --color-darkblue: #4b9dc1;
  --color-lightpeach: #f9f1ed;
  --color-darkpeach: #fcceb7;
  --color-mediumpeach: #feebe2;
  --color-darkgreen: #5daba9;
  --color-lightgreen: #aae8c2;
  --color-pink: #ffa1d3;
  --color-lavender: #cb98f0;
  --color-periwinkle: #92a3ff;
}

body {
  font-family: Sniglet, sans-serif;
  background-color: var(--color-lightpeach);
}
